
fastapi==0.115.4
uvicorn[standard]==0.30.6
requests==2.32.3
rio-tiler==6.7.0
rio-cogeo==5.3.4
numpy==2.1.2
numpy==2.1.2
python-dotenv==1.0.1
pyshp==2.3.1
netCDF4
h5netcdf
h5py
huggingface_hub>=0.20.0
